.preview-modal-overlay {
    position: fixed;
    left: 90%;
    bottom: 65%;
    transform: translateX(-58%); 
    /* background: rgba(0,0,0,0.10); */
    background-color: white;
    /* box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3); */
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding: 8px 10px;
}

/* position: fixed; 
  bottom: 15px;  
  /* Center the container horizontally */
  /* background-color: white; */
  /* border: 2px solid #ddd; width | style | color  */
  /* border-radius: 18px; */
   /*  X-axis | Y-axis | blur | color  */
  /* display: flex; */
   /*  X-axis | Y-axis  */
  /* z-index: 1000;  Ensure the tools are above other content */
  /* min-height: 30px; Ensure consistent height even on hover */
  /* gap: 2px;   */

.preview-modal {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.18);
    padding: 32px 24px 24px 24px;
    min-width: 1300px;
    min-height: 560px;
    /* max-width: 1000px;
    max-height: 650px; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 18px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
.close-btn:hover {
    color: #ff0000;
}
