/* Dropdown panel styles */
.creation-dropdown-panel {
  position: absolute;
  bottom: 50px; /* adjust as needed to appear below the toolbar */
  left: 10px;
  transform: translateX(-20%);
  background: #222;
  color: #fff;
  border-radius: 22px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.22);
  padding: 12px 0;
  min-width: 190px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
}

.creation-dropdown-item {
  display: flex;
  align-items: center;
  padding: 6px 18px 6px 20px; /* | right |*/
  position: relative;
  font-size: 13px;
  background: none;
  border: none;
  border-radius: 8px;
  transition: background 0.15s;
  margin-left: 10px;
  margin-right: 8px; /* Add margin to the right for spacing */
}

/* .move-dropdown-item.selected,  */
.creation-dropdown-item:hover {
  background-color: #189eff;
  border-radius: 12px;
  /* margin: 0; No margin on highlight */
}

.creation-dropdown-icon {
  width: 15px;
  display: flex;
  align-items: center;
  margin-right: 12px;
letter-spacing: 2px;
  filter: brightness(0) invert(1)  /* white icon effect */
}

.creation-dropdown-shortcut {
  margin-left: auto;
  font-size: 11px;
  opacity: 0.8;
  letter-spacing: 2px;
}

.creation-dropdown-check {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #fff;
}

.creation-dropdown-panel.no-hover .creation-dropdown-item:hover {
  background-color: inherit !important;
  color: inherit !important;
  cursor: default;
}