.canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  background-color: #f7f7f9;
  cursor: default;
}

.canvas.hand-tool {
  cursor: grab;
}

.canvas.hand-tool:active {
  cursor: grabbing;
}

.text-input-container {
  z-index: 1000;
} 