:root {
  font-family: 'Inter', sans-serif;
  user-select: none;
  -webkit-user-drag: none;
}

/* Remove default scrollbars and overflow */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}